/*ul {
  margin: 100px auto 0;
  list-style: none;
  width: 700px;
  font: 30px helvetica;
  font-weight: 100;
}

li {
  margin-bottom: 50px;
}

form {
  width: 700px;
  margin: 0 auto; 
}

textarea {
  border-style: none;
  width: 700px;
  margin-left: 20px;
  height: 100px;
  font: 30px helvetica;
  font-weight: 100;
}*/

/*common*/
a,
input,
textarea {
    -webkit-appearance: none;
    text-decoration: none;
}

textarea:focus,
input:focus {
    outline: none;
}
/* m.musixise.com hone page*/
html,body,.body {
  height: 100%;
  background-color: #000;
  margin:0;
}
.body {
  display:flex;
  align-items:center;
  text-align: center;
}
input {
  border:none;
  height: 1.5rem;
  width: 4rem;
  margin-left:3rem;
  font-size: .7rem;
  text-align: center;
  border-bottom-right-radius: .2rem;
  border-bottom-left-radius: .05rem;
  border-top-right-radius: .2rem;
  border-top-left-radius:.2rem; 
}
p.stage-banner {
  font-size:.5rem;
  color:#aaa;
  margin: 0 auto;
}
