<!DOCTYPE html><html><head><script type=text/javascript>(function() {
      var win = window;
      var docElem = document.documentElement;
      var on = 'addEventListener';
      var timeoutId;

      function delaySetRem() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(setRem, 300);
      }

      function setRem() {
        win.rem = docElem.getBoundingClientRect().width / 10;
        docElem.style.fontSize = win.rem + 'px';
      }

      setRem();
      docElem.setAttribute('data-dpr', win.devicePixelRatio);
      win[on]('resize', delaySetRem);
      win[on]('pageshow', function(e) {
        if (e.persisted) {
          delaySetRem();
        }
      });
    })();</script><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><meta name=apple-mobile-web-app-capable content=yes><meta name=apple-mobile-web-app-status-bar-style content=black><meta name=format-detection content="telephone=no"><meta name=screen-orientation content=portrait><meta http-equiv=Cache-Control content="no-cache, no-store, must-revalidate"><meta http-equiv=Pragma content=no-cache><meta http-equiv=Expires content=0><title>我的小盒盒</title><link href=/static/css/app.4f5afc63f2516ebc2f1cbe9850063f17.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.889e1b8f785000818fce.js></script><script type=text/javascript src=/static/js/vendor.2ad88aa753c77b47a2f1.js></script><script type=text/javascript src=/static/js/app.0b7bdab22be7f272b025.js></script></body></html>